body {
	color: #000;
	background-color: #fff;
	font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0;
}

img, h1, h2 {
	vertical-align: middle;
}

img {
	border: 0;
    max-width: 100%; /* Responsive images */
}

a:target {
	background-color: #ccc;
}

a.d,
a.h,
a.i,
a.line {
	text-decoration: none;
}

#blob a {
	color: #555;
}

#blob a:hover {
	color: blue;
	text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

#content table {
	border: 1px solid #333;
}

table td {
    padding: 0.5em;
}

table thead tr {
	background-color: #ddd;
}

table thead td {
    font-weight: bold;
}

table td:not(.expand) {
	white-space: nowrap;
	min-width: 32px;
}

table td.expand {
    white-space: wrap;
	width: 99%; /* Let the second column take up the remaining space */
}

#content table td {
	vertical-align: top;
	white-space: nowrap;
}

#content table tbody tr:hover td {
	background-color: #eee;
}

td.num {
	text-align: right;
}

.desc {
	color: #555;
}

hr {
	border: 0;
	border-top: 1px solid #555;
	height: 1px;
}

pre {
	font-family: monospace;
}

#footer {
    padding: 1em;
    text-align: center;
    font-size: 0.9em;
    color: #ddd;
	background-color: #777;
    border-top: 1px solid #555;
    margin-top: 1em;
}

#footer code {
    font-style: normal;
    font-weight: bold;
    font-family: monospace;
    color: #eee;
} 


/* Flexbox container for the tables */
#refcontainer {
    display: flex; /* Flexbox layout */
    gap: 20px; /* Space between the two tables */
}

#refcontainer .ref {
    flex: 1; /* Allow the tables to take equal width */
    width: 100%; /* Ensure the tables are responsive */
}


@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
		color: #bdbdbd;
	}
	hr {
		border-color: #222;
	}
	a {
		color: #56c8ff;
	}
	a:target {
		background-color: #222;
	}
	.desc {
		color: #aaa;
	}
	#blob a {
		color: #555;
	}
	#blob a:target {
		color: #eee;
	}
	#blob a:hover {
		color: #56c8ff;
	}
	pre a.h {
		color: #00cdcd;
	}
	.A,
	span.i,
	pre a.i {
		color: #00cd00;
	}
	.D,
	span.d,
	pre a.d {
		color: #cd0000;
	}
	#branches tr:hover td,
	#tags tr:hover td,
	#index tr:hover td,
	#log tr:hover td,
	#files tr:hover td {
		background-color: #111;
	}

	 #footer {
        color: #999;
        border-top: 1px solid #222;
    }
    #footer code {
        color: #bdbdbd;
    }
}

